html body{
  background: #fff;
}

.table-striped{
  margin-top:5%;
  background-color: #fff;
}

#tabela{
  margin-top: 5%;
}
#cabecalho{
  flex-direction: row;
 justify-content: space-between;
}
h3{
  text-align: center;
  width:1200px;
}